<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wisewolf.njmschool">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        android:usesCleartextTraffic="true">

        <activity android:name=".Activity.NotesActivity" />
        <activity android:name=".Activity.ResultsFirebase" >

        </activity>
        <activity android:name=".Activity.LiveClass" />
        <activity android:name=".Activity.NEwsListActivity" />
        <activity
            android:name=".Activity.ExamActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.FeedbackActivity" />
        <activity android:name=".Activity.DailyTask_Activity" />
        <activity
            android:name=".Activity.FullScreen2"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.AllClass"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.DocumentActivity" />
        <activity android:name=".Activity.NewsSet" />
        <activity android:name=".Activity.OfflineScreen" />
        <activity android:name=".Activity.ClassSelect" />
        <activity
            android:name=".Activity.OfflinePlayFullScreen"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Activity.Fullscreen"
            android:screenOrientation="landscape" />
        <activity android:name=".Activity.StudentProfileSelection" />
        <activity android:name=".Activity.SignUp" />
        <activity
            android:name=".Activity.VideoPlay"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode" />

        <service
            android:name=".service.VideoLinkService"
            android:exported="false" />
        <service android:name=".service.KillNotificationService" />

        <activity
            android:name=".Activity.VideoListing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.ProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.Student_Select"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".kotlin.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.QuestionsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.ResultActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.OfflineScreenUser" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>